
<div class="row">
  <div class="col-md-12">
    <h1>Play with this person?</h1>
    <div class="well bs-component">

      <div class="home-avatar-container">
        <img class="home-avatar" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ab/ab911634dab3307b9910dc8bceafcc659eb0ebd5_full.jpg">
      </div>
      <div class="home-user-details">
        <div class="home-display-name">GamerXXX_78</div>
        <div class="home-languages">English, German</div>
        <div class="home-about">I usually like playing games at night</div>
      </div>
      <div class="clearfix"></div>
      <div class="home-grid-message">GamerXXX_78 is interested in these games</div>
      <div ui-grid="home.gameGridOptions" class="home-game-grid"></div>
      <hr>
      <button class="btn btn-lg btn-danger"><i class="fa fa-times"></i> Nope</button>
      <button class="btn btn-lg btn-success btn-try-match"><i class="fa fa-gamepad"></i> Yep</button>
    </div>
  </div>
</div>

