
<div class="row">
  <div class="col-md-12">
    <h1>Play with this person?</h1>
    <div class="well bs-component">

      <div class="home-avatar-container">
        <img class="home-avatar" src="{{::home.userData.avatarfull}}">
      </div>
      <div class="home-user-details">
        <div class="home-display-name">{{::home.userData.displayName}}</div>
        <div class="home-languages"><span ng-repeat="lan in home.userData.languages">{{lan}} <span ng-if="!$last">, </span></span> </div>
        <div class="home-about">{{::home.userData.aboutMe}}</div>
      </div>
      <div class="clearfix"></div>
      <div class="home-grid-message">{{::home.userData.displayName}} is interested in these games</div>
      <div ui-grid="home.gameGridOptions" class="home-game-grid"></div>
      <hr>
      <button class="btn btn-lg btn-danger"><i class="fa fa-times"></i> Nope</button>
      <button class="btn btn-lg btn-success btn-try-match" ng-click="home.accept(home.userData)"><i class="fa fa-gamepad"></i> Yep</button>
    </div>
  </div>
</div>

