
<div class="row">

  <div class="col-md-12">
    <h1>Stinder</h1>
    <div class="well bs-component">
      <form class="form-horizontal">
        <fieldset class="registration-fieldset">
          <legend>Registration - <span class="italics-text">What do you want to play</span></legend>
          <div class="registration-stage">
            <span class="label label-default">1</span> <span class="label label-danger">2</span>
          </div>
          <div ui-grid="register2.gameGridOptions" ui-grid-selection class="game-selection-grid"></div>

          <div class="form-group">
            <div class="col-lg-10">
              <button type="submit" class="btn btn-primary" ng-click="register2.goBack()">Previous</button>
              <button type="submit" class="btn btn-primary" ng-click="register2.finishRegistration()">Finish</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
      {{register2.gridApi.selectedCount}}

  </div>
