.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron-welcome {
  margin-top: 100px;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.italics-text {
  font-style: italic;
}

.navbar-nav i {
  font-size: 18px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Registration form */

.registration-fieldset {
  position: relative;
}

.registration-stage {
  float: right;
  position: absolute;
  right: -7px;
  top: 7px;
}

.reg-form-steam-id {
  font-style: italic;
  position: relative;
  top: -12px;
  left: 12px;
}

.dropdown-menu.dropdown-menu-form {
  overflow-y: scroll!important;
  overflow-x: hidden!important;
  background-color: #2B3E50;
}

.float-right {
  float: right;
}

.game-selection-grid {
  height: 550px;
}

.ui-grid {
  margin-bottom: 35px;
}

.ui-grid-cell {
  cursor: pointer;
}


.ui-grid-cell-contents.ui-grid-header-cell-primary-focus,
.ui-grid-header-cell {
  background-color: #2B3E50;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #2B3E50;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #1b3e50;
}

.ui-grid-viewport {
  overflow-x: hidden!important;
}

.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: #DF691A;
}

.reg-avatar {
  height: 60px;
}


/* Home page design */

.home-avatar-container {
  float: left;
}

.home-avatar {
  height: 130px;
  min-width: 130px;
}

.home-display-name {
  font-size: 24px;
}

.home-user-details {
  float:left;
  margin-left: 19px;
}

.home-about {
  margin-top: 25px;
}

@media screen and (max-width: 420px) {
  .home-user-details {
    margin-left: 0px;
  }
}

.home-grid-message {
  margin-top: 19px;
  margin-bottom: 5px;
}

.home-game-grid {
}

.playtime-cell-content {
  margin-left: 5px;
}

.btn-try-match {
  float: right;
}
